{# Chat input area with text input and action buttons #}
<div class="chat-input">
    <div class="input-container" id="input-container">
        <textarea type="text" id="message-input" placeholder="Describe the SQL query you want..." rows="1"></textarea>
        <button class="input-button" title="Submit" id="submit-button" disabled>
            {{ '/icons/submit.svg' | inline_svg }}
        </button>
        <button class="input-button" title="Pause" id="pause-button">
            {{ '/icons/pause.svg' | inline_svg }}

        </button>
        <button id="reset-button" class="action-button" title="Reset session">
            {{ '/icons/reset.svg' | inline_svg }}
        </button>
    </div>
</div>