{# Side Database Schema view #}
<div id="schema-container" class="sidebar-container">
    <button class="sidebar-close-btn" onclick="toggleSidebar('schema-container')">
        {{ '/icons/close.svg' | inline_svg }}
    </button>
    <div id="schema-content">
        <div id="schema-graph"></div>
    </div>
    <div id="schema-controls">
        <button id="schema-controls-zoom-in">
            {{ '/icons/zoom-in.svg' | inline_svg }}
        </button>
        <button id="schema-controls-zoom-out">
            {{ '/icons/zoom-out.svg' | inline_svg }}
        </button>
        <button id="schema-controls-center">
            {{ '/icons/center.svg' | inline_svg }}
        </button>
    </div>
</div>