{# Top toolbar with theme toggle, GitHub link, and user profile #}

<!-- GitHub Link Button -->
<a href="https://github.com/FalkorDB/QueryWeaver" target="_blank" rel="noopener" class="github-link"
    id="github-link-btn" title="View QueryWeaver on GitHub">
    {{ '/icons/github.svg' | inline_svg }}
    {{ '/icons/github-star.svg' | inline_svg }}
    <span class="github-stars-text" id="github-stars">-</span>
</a>

{% if is_authenticated and user_info %}
{% include 'components/user_profile.j2' %}
{% endif %}