{# Chat header with logo, title, and action buttons #}
<div class="chat-header">
    <img src="{{ url_for('static', filename='public/icons/logo.svg') }}" alt="Chat Logo" class="logo">
    <h1> Text-to-SQL(Natural Language to SQL Generator)</h1>
    <div class="button-container">
        <select title="Select Database" id="graph-select">
            <option value="">Loading...</option>
        </select>
        <div class="vertical-separator"></div>
        <input title="Upload Schema" id="schema-upload" type="file" accept=".json" style="display: none;" tabindex="-1" />
        <label for="schema-upload" id="custom-file-upload">
            Upload Schema
        </label>
        <div class="vertical-separator"></div>
        <label id="open-pg-modal">
            Connect Postgres
        </label>
    </div>
</div>
