{# Organization management component #}
<div id="organization-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Organization Management</h2>
            <span class="close" onclick="closeOrganizationModal()">&times;</span>
        </div>
        <div class="modal-body">
            <div id="organization-content">
                <div class="loading">Loading organization information...</div>
            </div>
        </div>
    </div>
</div>
